<h2>Unterhaltungen</h2>

	<% @conversations.each do |c| %> 

		<% if c.sender == current_user %>
			<%= c.reciepient.firstname %> <%= c.sender.lastname %>
			
		<% else %> 

			<%= c.sender.firstname %> <%= c.sender.lastname %>
		<% end %>
		| <%= link_to "anzeigen", showconversation_path(c) %> 
		<hr>
	<% end %>
