<h2>Freundesliste</h2>

<% unless @newfriends.first.nil? %>

	<h4>Neue Freundschaftsanfragen</h4>

	<table class="table-class">

		<% @newfriends.each do |nf| %>
		<tr>
			<td>
				<%=  nf.firstname %>
			</td>
			<td>
				<%=  nf.lastname %>
			</td>
			<td>
			<p><%= link_to "accept", friendaccept_path(nf.id) %> 
				<%= link_to "denie", frienddenie_path(nf.id) %> </p> 
			</td>
		</tr>
			
		<% end %>

	</table>
	<p></p>
<% end %>	

	<hr>
	<h4>Meine Freunde</h4>

	
	<div class="friend_list">

		<% @friends.each do |f| %>

			<div class="friendlist_avatar">
				<img src="<%= f.avatar.url %>">
			</div>
			<br>
			<b><%=  link_to "#{f.firstname} #{f.lastname}", friendprofile_path(f.id) %></b>
			<br>
			<%= link_to "delete friend", frienddelete_path(f.id) %>
			<br>
			<hr>

		<% end %>
	</div>


