
<h2> Dein User-Profile </h2>

<hr>

<h4> Dein Avatar </h4>

<%= render partial: 'avatars/form',
           object: current_user,
           as: :avatarable %>
<br>
<br>
<%= image_tag(current_user.logo.url(:style) ) %>

<hr>

<%= form_for(@user_profile, :url => edituser_path) do |f| %>
	
	<div class="text_content">
		<%= f.label :Vorname%>
	</div>
 	<%= f.text_field :firstname %>
 	<br>
	<div class="text_content">
		<%= f.label :Nachname%>
	</div>
 	<%= f.text_field :lastname %>
 	<br>
 	<div class="text_content">
		<%= f.label :Email%>
	</div>
 	<%= f.text_field :email%>
 	<br>
 	<div class="text_content">
		<%= f.label :Geburtstadum%>
	</div>
 	<%= f.text_field :birthday%>
 	<br>

  	<%= f.submit %>
<% end %> 

<h2> Pinnwand </h2>
<hr>
	<%= render partial: 'pinboard', locals: {isowner: true} %>
