<!DOCTYPE html>
<html>
<head>
	<title>Socialnetwork</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

</head>
<body>
<div class="container">
	<div class="header">

		<%= form_tag("/usersearch", method: "get") do %>
			<%= label_tag(:key, "search for:") %>
			<%= text_field_tag(:key) %>
			<%= submit_tag ("Search") %>
		<% end %>

		<% if user_signed_in? %>
			<img src="<%= current_user.avatar.url %>">
		<% end %>

	</div>



	<div class="navigationbar">
		<div class="notice a_alert">
		 <%= notice %> <%= alert %> &nbsp
		</div>

		<% if user_signed_in? %>

			<%=  current_user.firstname %> <%=  current_user.lastname %>   &nbsp

			<%= link_to "Dashboard",socialnetwork_path%> &nbsp |  &nbsp
			<%= link_to "Profil", userprofile_path, method: :get %> | 	&nbsp
			<%= link_to "Friends", friend_path %> &nbsp | &nbsp
			<%= link_to "Messeges", messages_path %> &nbsp | &nbsp
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<%end%>
	</div>

	<div class="content">
		
		<%= yield %>
	</div>
</div>
</body>
</html>
